/* Jewel tones that are bright and a bit desaturated. */

@dark-blue:     #33c;
@purple:        #7f33cc;
@red:           #c03;
@orange:        #f18f0e;
@green:         #090;
@white:         #fff;


/* A playful color scheme for child-oriented websites. */

@light-red:     #f66;
@blue:          #36c;
@bright-green:  #9f0;
@lime-green:    #cf6;
@cream:         #ffc;
@light-orange:  #fc6;
@bright-yellow: #ff0;
@cream-yellow:  #ff9;
@cyan:          #3cc;
@dark-purple:   #63c;
@light-purple:  #c9f;