/* Catalog -----------------------------------------------*/

.catalog {
    padding: 0;
    cursor: pointer;
    border-color: #a8e927;
    transform: translate3d(0, 0, 0);
    transition: border-color 600ms, background 600ms, box-shadow 80ms, font-size 0ms;
    background: #df9;
    background: linear-gradient(to bottom, rgba(187, 238, 85, 0.5) 0,
        rgba(187, 238, 85, 0.5) 100%), url(/images/bg-catalog.png) repeat;
    
    /* background: linear-gradient(to bottom, rgba(168, 233, 39, 0.5) 0,
        rgba(175, 235, 54, 0.5) 5%, rgba(181, 236, 70, 0.5) 10%,
        rgba(187, 238, 85, 0.5) 50%, rgba(181, 236, 70, 0.5) 90%,
        rgba(175, 235, 54, 0.5) 95%, rgba(168, 233, 39, 0.5) 100%),
        url(/images/bg-catalog.png) repeat; */
}

.catalog .glass {
    display: none;
}

.catalog-image {
    display: inline-block;
	width: 38.196%;
    border-radius: 5px 0 0 5px;
    background: #be5;
    background: linear-gradient(to bottom, rgba(168, 233, 39, 0.75) 0%,
        rgba(175, 235, 54, 0.7) 15%, rgba(181, 236, 70, 0.65) 30%, rgba(187, 238, 85, 0.6) 50%,
        rgba(181, 236, 70, 0.65) 70%, rgba(175, 235, 54, 0.7) 85%, rgba(168, 233, 39, 0.75) 100%);
}

.catalog-image img {
    width: 100%;
    border-radius: 7px 0 0 7px;
}

.catalog-details {
    display: inline-block;
    width: 61.803%;
    padding: 2% 2% 2% 3.5%;
    vertical-align: top;
    line-height: 1em;
    box-sizing: border-box;
    transition: opacity 600ms;
}

.catalog-title {
    margin-bottom: 3.5%;
    color: #111;
    font-size: 0.9em;
    font-family: CreativeBlock, sans-serif;
    letter-spacing: 0.014em;
    text-shadow: 0 0 1px #fff;
    white-space: nowrap;
}

.catalog-desc {
	color: #444;
    font-size: 0.85em;
    line-height: 1.3em;
    letter-spacing: 0.017em;
}

.catalog-desc.long {
    display: none;
}

.catalog-extra {
    position: absolute;
    bottom: -1px;
    right: -1px;
    z-index: -1;
    padding: 4px 5px;
    font: bold 0.8em CreativeBlock, sans-serif;
    letter-spacing: 0.05em;
    text-shadow: 0 0 1px #eee;
    border: 1px solid #a8e927;
    border-radius: 10px 0;
    background-color: rgba(255, 166, 66, 0.2);
}

.catalog-extra span {
    display: none;
    padding: 5px;
    color: #333;
    text-transform: uppercase;
}

.catalog-extra .fa {
    padding: 0 3px 0 0;
    color: #666;
    font-size: 0.8em;
}

.catalog-extra .catalog-age {
	color: #bb002f;
}

.catalog-extra .catalog-status {
    display: inline;
    color: #090;
}

#catalog-Biggalo .catalog-title {
    letter-spacing: -0.06em;
}


/* Catalog Slider ----------------------------------------*/

.slider .catalog {
    margin: 2.3%;
    font-size: 0.6em;
    background: linear-gradient(to bottom, rgba(187, 238, 85, 0.5) 0%,
        rgba(187, 238, 85, 0.5) 50%, rgba(181, 236, 70, 0.5) 90%,
        rgba(175, 235, 54, 0.5) 95%, rgba(168, 233, 39, 0.5) 100%),
        url(/images/bg-catalog.png) repeat;
}

.slider .catalog-image {
    width: 100%;
    border-radius: 5px 5px 0 0;
    transition: background-color 300ms;
    background: linear-gradient(to bottom, rgba(168, 233, 39, 0.75) 0%,
        rgba(175, 235, 54, 0.7) 15%, rgba(181, 236, 70, 0.65) 30%, rgba(187, 238, 85, 0.6) 50%,
        rgba(187, 238, 85, 0.65) 99.5%, rgba(187, 238, 85, 0.8) 100%);
}

.slider .catalog-zoom .catalog-image {
    background-color: #fcfcfc;
}

.slider .catalog-image img {
    display: inherit;
    border-radius: 7px 7px 0 0;
    transition: opacity 600ms;
}

.slider .catalog-zoom .catalog-image img {
    opacity: 0;
}

.slider .catalog-details {
    width: 100%;
    padding-bottom: 20%;
    vertical-align: baseline;
}

.slider .catalog-title {
    margin-top: 5px;
}

.slider .catalog-desc.short,
.slider .catalog-desc.long {
    display: none;
}

.slider .catalog-extra {
    float: right;
}

.slider .catalog-ribbon {
    display: none;
}


/* Catalog Media Queries ---------------------------------*/

@media (min-width: 401px) {
    .catalog-desc {
        font-size: 0.8em;
    }
}

@media (min-width: 481px) {
    .catalog-desc.short {
        display: none;
    }
    
    .catalog-desc.long,
    .catalog-ribbon {
        display: inherit;
    }
    
    .catalog-title {
        font-size: 0.85em;
    }

    .catalog-desc {
        font-size: 0.65em;
    }
    
    .catalog-extra {
        font-size: 0.6em;
    }
    
    .catalog-extra span {
       padding: 8px;
    }
}

@media (min-height: 481px) {
    .slider .catalog-desc.short {
        display: inherit;
    }
}

@media (min-width: 769px) {
    .catalog-desc {
        font-size: 0.6em;
    }

    .catalog-extra {
        font-size: 0.5em;
    }
    
    :not(.slider) .catalog-ribbon {
        top: -23px;
        left: -22px;
    }
}

@media (min-width: 801px) {
    .slider .catalog-ribbon {
        display: inherit;
    }
}

@media (min-width: 1153px) {
    .slider .catalog-ribbon {
        top: -23px;
        left: -22px;
    }

    .slider #catalog-Biggalo .catalog-title {
        letter-spacing: -0.07em;
    }
}
