/* Debug -------------------------------------------------*/

#debug-env,
#debug-log {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    padding: 2%;
    color: #ddd;
    font-family: Monaco, Lucida Console, DejaVu Sans Mono, monospace, sans-serif;
    font-size: 0.65em;
    line-height: 1.3em;
    background-color: #222;
    background-color: rgba(34, 34, 34, 0.85);
    box-sizing: border-box;
}

#debug-env .heading,
#debug-log .heading {
    color: #fcfcfc;
}

#debug-env .falsy,
#debug-log .falsy,
#debug-log .var {
    color: #d7d;
}

#debug-env .truthy,
#debug-log .truthy,
#debug-log .event {
    color: #7dd;
}

#debug-log .info {
    color: #fcfcfc;
}

#debug-log .warning {
    color: #fc6;
}

#debug-log .error {
    color: #ff3064;
}

#debug-scroll-icon,
#debug-menu-icon {
    position: fixed;
    z-index: 11;
    top: 21px;
    right: 15px;
    pointer-events: auto;
}

#debug-scroll-icon {
    right: 75px;
    background-color: #ccc;
}

#debug-menu-scroll:not(.show),
#debug-menu-verbose:not(.show) {
    background-color: #ccc !important;
}

#debug-menu {
    display: none;
    position: fixed !important;
    z-index: 11;
    pointer-events: auto;
}

#debug-menu div.show {
    transition: background-color 100ms;
}

#debug-scroll-icon.selected,
#debug-menu-scroll.show,
#debug-menu-verbose.show {
    background-color: #ff0;
}

#debug-menu-functions.show {
    background-color: #ddd;
}

#debug-menu-vars.show {
    background-color: #d7d;
}

#debug-menu-info.show {
    background-color: #fcfcfc;
}

#debug-menu-events.show {
    background-color: #7dd;
}

#debug-menu-warnings.show {
    background-color: #fc6;
}

#debug-menu-errors.show {
    background-color: #ff3064;
}

#debug-menu:not(.no-labels) #debug-menu-verbose,
#debug-menu:not(.no-labels) #debug-menu-errors {
    border-bottom: 3px solid #c03 !important;
}

.section {
    border-top: 1px dashed #ddd;
    -webkit-tap-highlight-color: rgba(0, 153, 0, 0.33) !important;
    -webkit-user-select: text !important;
    user-select: text !important;
}

.section p {
    cursor: text;
}

.section .name,
.section .count {
    position: absolute;
    top: 0.02em;
    color: #ccc;
    font-size: 0.6em;
    text-align: right;
}

.section .count {
    right: 0;
}

.section .dialect {
    color: #c03;
}

@media (min-width: 801px) {
    #debug-env,
    #debug-log {
        font-size: 0.5em;
    }
}

@media (min-width: 1153px) {
    #debug-scroll-icon,
    #debug-menu-icon,
    #debug-menu .icon {
        width: 50px;
        height: 50px;
        font-size: 32px;
        line-height: 50px;
    }
    
    #debug-scroll-icon,
    #debug-menu-icon {
        top: 15px;
    }
    
    #debug-scroll-icon {
        right: 85px;
    }
}
