/* Font Awesome ------------------------------------------*/

.fa {
  display: inline-block;
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  line-height: 1.2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* makes font 33% larger relative to container */
.fa-lg {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}

.fa-fw {
  width: 1.28571429em;
  text-align: center;
}

.fa-ul {
  padding-left: 0;
  margin-left: 2.14285714em;
  list-style-type: none;
}

.fa-ul > li {
  position: relative;
}

.fa-li {
  position: absolute;
  left: -2.14285714em;
  width: 2.14285714em;
  top: 0.14285714em;
  text-align: center;
}

.fa-li.fa-lg {
  left: -1.85714286em;
}

.fa-border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eeeeee;
  border-radius: .1em;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.fa.pull-left {
  margin-right: .3em;
}

.fa.pull-right {
  margin-left: .3em;
}

.fa-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
}

.fa-stack-1x,
.fa-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}

.fa-stack-1x {
  line-height: inherit;
}

.fa-stack-2x {
  font-size: 2em;
}

.fa-inverse {
  color: #ffffff;
}

.fa-arrow-left::before     { content: '\f060' }
.fa-arrow-right::before    { content: '\f061' }
.fa-arrow-up::before       { content: '\f062' }
.fa-arrow-down::before     { content: '\f063' }
.fa-arrows-v::before       { content: '\f07d' }
.fa-bars::before           { content: '\f0c9' }
.fa-bug::before            { content: '\f188' }  /*DEBUG*/
.fa-book::before           { content: '\f02d' }
.fa-bookmark::before       { content: '\f02e' }
.fa-cloud-download::before { content: '\f0ed' }
.fa-cloud-upload::before   { content: '\f0ee' }
.fa-cogs::before           { content: '\f085' }
.fa-comment::before        { content: '\f075' }
.fa-eye::before            { content: '\f06e' }
.fa-external-link::before  { content: '\f08e' }  /*WEB*/
/* .fa-map-marker::before     { content: '\f041' } */
.fa-mars::before           { content: '\f222' }  /*WEB*/
.fa-money::before          { content: '\f0d6' }
.fa-refresh::before        { content: '\f021' }
.fa-sign-in::before        { content: '\f090' }  /*WEB*/
.fa-sliders::before        { content: '\f1de' }
.fa-times::before          { content: '\f00d' }
.fa-venus::before          { content: '\f221' }  /*WEB*/
.fa-volume-down::before    { content: '\f027' }
.fa-volume-off::before     { content: '\f026' }
.fa-volume-up::before      { content: '\f028' }

#debug-menu .fa-bolt::before        { content: '\f0e7' }
#debug-menu .fa-cog::before         { content: '\f013' }
#debug-menu .fa-exclamation::before { content: '\f12a' }
#debug-menu .fa-flag::before        { content: '\f024' }
#debug-menu .fa-info::before        { content: '\f129' }
#debug-menu .fa-tag::before         { content: '\f02b' }
#debug-menu .fa-tags::before        { content: '\f02c' }
