/* Flow --------------------------------------------------*/

#flow {
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    z-index: 2;
    margin: auto;
}

#flow:not(.slider) {
    width: 90%;
}

#flow.slider {
    width: 100%;
}


/* Flow Media Queries ------------------------------------*/

@media (min-width: 481px) {
    #flow:not(.slider) {
        width: 85%;
    }
}

@media (min-width: 601px) {
    #flow:not(.slider) {
        width: 80%;
    }
}

@media (min-width: 769px) {
    #flow:not(.slider) {
        width: 75%;
    }
}

@media (min-width: 1025px) {
    #flow:not(.slider) {
        width: 795px;
    }
}
