/* Fonts -------------------------------------------------*/

@font-face {
    font-family: CreativeBlock;
    src: url(/fonts/CreativeBlock.woff2) format('woff2'),
         url(/fonts/CreativeBlock.woff) format('woff'),
         url(/fonts/CreativeBlock.ttf) format('truetype');
    font-weight: normal;
 	font-style: normal;
}

@font-face {
    font-family: FocusLight;
    src: url(/fonts/FocusLight.woff2) format('woff2'),
         url(/fonts/FocusLight.woff) format('woff'),
         url(/fonts/FocusLight.ttf) format('truetype');
    font-weight: normal;
 	font-style: normal;
}

@font-face {
    font-family: Gentium;
    src: url(/fonts/Gentium.woff2) format('woff2'),
         url(/fonts/Gentium.woff) format('woff'),
         url(/fonts/Gentium.ttf) format('truetype');
    font-weight: normal;
 	font-style: normal;
}

@font-face {
    font-family: FontAwesome;
    src: url(/fonts/FontAwesome.woff2) format('woff2'),
         url(/fonts/FontAwesome.woff) format('woff'),
         url(/fonts/FontAwesome.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}