/* Glass -------------------------------------------------*/

.glass {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    cursor: default;
}

.catalog .glass {
    display: none;
    opacity: 0;
    margin: -2px 0 0 -2px;
    padding: 2px;
    background-color: #222;
    background-color: rgba(34, 34, 34, 0.85);
}

.glass-message {
    display: none;
    margin-top: -10px;
    color: #fcfcfc;
    font-weight: bold;
    font-size: 0.9em;
    letter-spacing: 0.05em;
    text-align: center;
}

.glass .options {
    display: table-cell;
    width: 90%;
    vertical-align: middle;
}

.glass .multi {
    margin: 3.5%;
    font: normal 0.7em CreativeBlock, sans-serif;
    line-height: 1.2em;
    background-color: #cf6;
    border-color: #be5;
}

.glass .multi .fa {
    margin-right: 10px;
}


/* Slider Glass ------------------------------------------*/

#flow.slider .glass .multi {
    width: 66%;
    margin: 8% 0 8% 0;
    padding: 5px;
    white-space: normal;
}

#flow.slider .glass .multi .fa {
    display: none;
    margin: 10px 0 15px 0;
    font-size: 2em;
}


/* Glass Media Queries -----------------------------------*/

@media (min-height: 481px) {
    #flow.slider .glass .multi .fa {
        display: block;
    }
}

@media (min-width: 601px) {
    .glass .multi {
        box-shadow: 0 0 0 3px #fcfcfc;
    }
}

@media (min-width: 801px) {
    .glass .multi {
        margin: 4%;
    }
}
