/* Header ------------------------------------------------*/

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
    width: 100%;
    height: 80px;
    pointer-events: none;
}

#header.on-top {
    z-index: 9;
}

#debug-scroll-icon,
#debug-menu-icon,
#debug-menu .icon,
#header .icon {
    width: 40px;
	height: 40px;
	margin: auto;
    font-weight: normal;
    font-size: 26px;
    letter-spacing: 0;
	line-height: 40px;
	text-align: center;
    text-shadow: 1px 1px 1px #666;
    color: #c03;
    background-color: #ff0;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    pointer-events: all;
    transition: border-radius 100ms;
    box-shadow: 0 0 0 3px #c03, inset 0 0 1px #666, 0 0 1px 5px #fcfcfc;
}

#header #context-icon,
#header #close-icon {
    line-height: 38px;
}

#badge {
    position: absolute;
    top: 10px;
	left: 10px;
    z-index: 1;
    width: 60px;
    height: 60px;
    cursor: pointer;
    pointer-events: all;
    border-radius: 60px;
    background-color: #cc9;
    background-image: radial-gradient(#cc9, #bb7);
    background-image: url(/images/gears.svg), radial-gradient(#cc9, #bb7);  /*WEB*/
    background-position: 0;
    background-repeat: no-repeat;
    background-size: 60px;
    box-shadow: inset 0 0 1px #888, 0 0 0 4px #fcfcfc, 2px 2px 6px #333;
    transition: filter 150ms;
}

#badge.bright {
    filter: brightness(1.3);
}

#shine {
    width: 60px;
    height: 60px;
    border-radius: 60px;
    background: url(/images/shine.png) -110px 0 / 109px 60px no-repeat;
    transform: translate3d(0, 0, 0);
}

#badge.shine #shine,
#badge:hover #shine {
    transition: background-position 700ms !important;
    background-position: 110px 0 !important;
}

#title-wrap {
    position: absolute;
    top: 15px;
    left: 45px;
    max-width: 55%;
    padding: 5px 10px 10px 5px;
    overflow: hidden;
    pointer-events: all;
}

#title-bg {
    display: table;
    height: 40px;
    padding-left: 35px;
    padding-right: 20px;
    border-radius: 0 40px 40px 0;
    box-sizing: border-box;
    box-shadow: inset 0 0 1px #888, 0 0 0 3px #fcfcfc, 2px 2px 6px #333;
    background: #36c;
    background: linear-gradient(to bottom, #698fda 0%, #5c85d6 17%, #4e7ad3 33%,
        #4170cf 67%, #305fbe 83%, #2c58b1 100%);
}

#title {
    display: table-cell;
    vertical-align: middle;
    color: #fcfcfc;
    font-family: CreativeBlock, sans-serif;
    font-size: 16px;
    line-height: 1em;
    text-align: center;
    text-shadow: 1px 1px 1px #666;
}

#context-icon,
#close-icon,
#menu-icon {
    position: absolute;
    top: 21px;
	right: 15px;
}

#context-icon {
    right: 75px;
    transition: opacity 200ms;
}

#context-icon.selected {
    background-color: #ffc;
    box-shadow: 0 0 0 3px #c03, 0 0 1px #666 inset, 0 0 1px 5px #ddd;
}

#menu {
    display: none;
}


/* Header Media Queries ----------------------------------*/

@media (min-width: 481px) {
    #title-wrap {
        max-width: 70%;
    }
    
    #title-bg {
        white-space: nowrap;
    }

    #title {
        font-size: 22px;
    }
}

@media (min-width: 1153px) {
    #header .icon {
        width: 50px;
        height: 50px;
        font-size: 32px;
        line-height: 50px;
    }
    
    #header #context-icon,
    #header #close-icon {
        line-height: 47px;
    }
    
    #context-icon,
    #close-icon,
    #menu-icon {
        top: 15px;
    }
    
    #context-icon {
        right: 85px;
    }
}
