/* Mascot ------------------------------------------------*/

@font-face {
    font-family: KomikaDisplay;
    src: url(/fonts/KomikaDisplay.woff2) format('woff2'),
         url(/fonts/KomikaDisplay.woff) format('woff'),
         url(/fonts/KomikaDisplay.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

#mascot {
    position: fixed;
    bottom: -20vmin;
    width: 20vmin;
    height: 20vmin;
    z-index: 9;
    background-size: contain !important;
    transform: translate3d(0, 0, 0);
    transition: transform 200ms;
}

#speech {
    position: absolute;
    bottom: 80%;
    left: 80%;
    min-width: 120%;
    max-width: 150%;
    padding: 15% 15% 19%;
    color: #fcfcfc;
    font: normal 0.7em KomikaDisplay, sans-serif;
    text-align: center;
    letter-spacing: 0.05em;
    background-image: url(/images/bubble-right.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#speech.long {
    padding: 24% 25% 32%;
    line-height: 1.1em;
}

#speech.on-left {
    left: initial;
    right: 80%;
    background-image: url(/images/bubble-left.svg);
}


/* Mascot Media Queries ----------------------------------*/

@media (min-width: 801px) {
    #speech.long {
        min-width: 133%;
    }
}
