/* Menu --------------------------------------------------*/

#debug-menu,
#menu {
	position: absolute;
	top: 76px;
	right: 15px;
    pointer-events: all;
    background-color: #ff0;
    border-radius: 15px;
    border-top-right-radius: 0;
    transform: translate3d(0, 0, 0);
    will-change: height, margin-top, margin-bottom, padding-top, padding-bottom;
    box-shadow: 0 0 0 3px #c03, inset 0 0 1px #666, 0 0 1px 5px #fcfcfc;
}

#debug-menu div,
#menu div {
	padding: 10px 7px 10px 12px;
    color: #111;
    font-weight: bold;
	font-size: 22px;
    font-family: FocusLight, sans-serif;
    letter-spacing: 0.05em;
    line-height: 1em;
    text-align: right;
    cursor: pointer;
    border-bottom: 2px dotted #c03;
    transition: background-color 200ms;
}

#menu div:hover {
    background-color: #ffc;
}

#debug-menu div:not(.hide),
#menu div:not(.hide) {
    border-top-left-radius: 15px;
}

#debug-menu div:not(.hide) ~ div:not(.hide),
#menu div:not(.hide) ~ div:not(.hide) {
    border-top-left-radius: 0;
}

#debug-menu div:last-of-type,
#menu div:last-of-type {
    border-bottom: none;
    border-radius: 0 0 15px 15px;
}

#debug-menu .label,
#menu .label {
    display: inline-block;
    min-width: 160px;
}

#debug-menu .fa,
#menu .fa {
    width: 25px;
    height: 25px;
    padding-left: 5px;
    color: #c03;
    text-align: center;
}

#menu .fa-external-link::before {
    font-size: 0.9em;
}


/* No Labels ---------------------------------------------*/

#debug-menu.no-labels,
#menu.no-labels {
    top: 66px;
    right: 5px;
    padding: 10px !important;
    background: none;
    border-radius: 0;
    box-shadow: none;
}

#debug-menu.no-labels .label,
#menu.no-labels .label {
    display: none;
}

#debug-menu.no-labels .icon,
#menu.no-labels .icon {
	margin: 0 0 15px 0;
    padding: 0;
    border-radius: 0;
}

#debug-menu.no-labels .fa,
#menu.no-labels .fa {
    width: auto;
    height: auto;
    padding: 0;
    line-height: 40px;
}

#debug-menu.no-labels div,
#menu.no-labels div {
    border-top-left-radius: 0 !important;
    transition: none;
}

#debug-menu.no-labels #debug-menu-close,
#menu.no-labels #menu-close {
    border-radius: 0 0 40px 40px;
}

#debug-menu.no-labels #debug-menu-close .fa,
#menu.no-labels #menu-close .fa {
    line-height: 0.9em;
}

#menu.no-labels .fa.fa-sliders {
    line-height: 38px;
}


/* Menu Media Queries ------------------------------------*/

@media (min-width: 801px) {
    #debug-menu div,
    #menu div {
        font-size: 24px;
    }

    #debug-menu .label,
    #menu .label {
        min-width: 180px;
    }
}

@media (min-width: 1153px) {
    #debug-menu,
    #menu {
        top: 80px;
    }
    
    #debug-menu div,
    #menu div {
        padding: 8px 15px;
        font-size: 32px;
    }

    #debug-menu .label,
    #menu .label {
        padding-top: 3px;
        padding-bottom: 2px;
        font-size: 24px;
        vertical-align: text-top;
    }

    #debug-menu.no-labels,
    #menu.no-labels {
        top: 70px;
    }

    #debug-menu.no-labels .fa,
    #menu.no-labels .fa {
        line-height: 50px;
    }

    #menu.no-labels .fa.fa-sliders {
        line-height: 48px;
    }
}
