/* Message -----------------------------------------------*/

.message {
    opacity: 1;
    padding: 10px 12px;
    color: #fcfcfc;
    text-shadow: 1px 1px 0 #666;
    font-size: 0.85em;
    line-height: 1.2em;
    transform: translate3d(0, 0, 0);
}

.message .close {
    position: absolute;
    top: -15px;
    right: -15px;
    z-index: 3;
    width: 30px;
    height: 30px;
    color: #222;
    text-shadow: 1px 1px 1px #bbb;
    font-size: 24px;
    line-height: 1.2em;
    text-align: center;
    cursor: pointer;
    background-color: #fcfcfc;
    border-radius: 30px;
    box-shadow: 0 0 0 4px #222, inset 0 0 1px #888, 0 0 0 6px #fcfcfc;
}

.message.info {
    background-color: #2c58b1;
    border-color: #248;
}

.message.info .close {
    color: #248;
    box-shadow: 0 0 0 4px #248, inset 0 0 1px #888, 0 0 0 6px #fcfcfc;
}

.message.warning {
    background-color: #f36;
    border-color: #c03;
}

.message.warning .close {
    color: #c03;
    box-shadow: 0 0 0 4px #c03, inset 0 0 1px #888, 0 0 0 6px #fcfcfc;
}

.message div {
    overflow: hidden;
}


/* Message Media Queries ---------------------------------*/

@media (min-width: 481px) {
    .message {
        font-size: 0.65em;
    }
}

@media (min-width: 801px) {
    .message {
        font-size: 0.6em;
    }
}
