/* Miscellaneous -----------------------------------------*/

html {
    overflow-x: hidden;
}

body {
    position: relative;
    opacity: 0;
    cursor: default;
    font: normal 1em FocusLight, Gentium, sans-serif;
    line-height: 0;
    text-rendering: optimizeLegibility;
    font-variant-ligatures: common-ligatures;
    font-feature-settings: 'kern';
    font-kerning: normal;
    background-color: #87ceeb;
    transition: opacity 300ms;  /*WEB*/
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/*WEB_BEGIN*/
.init {
    height: 100vh;
    margin: 0;
    overflow-y: hidden;
    background-image: url(/images/gears.svg), radial-gradient(#87ceeb 0%, #87ceeb 100%);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 33%, 100%;
    background-size: 33vmin, 100%;
}
/*WEB_END*/

input,
select {
    color: #c03;
    font-weight: bold;
    font-size: 1em;
    line-height: 1.4em;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 7px;
}

#vmin-test,
#image-cache {
    position: absolute;
    top: -9999px;
    left: -9999px; 
    width: 0;
    height: 0;
    visibility: hidden;
}

#image-cache div,
#image-cache img {
    position: absolute;
}

#mascot {
    position: fixed;
}

.scroll-y {
    overflow-y: scroll;
}

.hide {
    display: none !important;
}

.pointer {
    cursor: pointer;
}

.no-pointer {
    cursor: default;
    pointer-events: none;
}

.no-transform {
    transform: none !important;
}

.center {
    display: table;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    margin: auto;
}

.bottom-straight {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.left {
    float: left;
}

.right {
    float: right;
}

.column {
    width: 45%;
}

.options {
    text-align: center;
}

.option {
    cursor: pointer;
    transition: all 300ms;
}

.multi {
    display: inline-block;
    padding: 5px 15px;
    text-align: center;
    background-color: #e3e3e3;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 0 2px #fcfcfc;
    transition: none;
    transform: translateZ(0);
}

.multi .fa {
    color: #090;
}

.deactivated {
    color: #666 !important;
    border-color: #bbb !important;
    background-color: #ccc !important;
}

.hr-left {
    border: 0;
    width: 100%;
    height: 2px;
    margin: 10px 0 11px -15px;
    background: linear-gradient(to right, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
}

hr {
    border: 0 none;
    height: 3px;
    text-align: center;
    box-sizing: content-box;
    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8),
        rgba(0, 0, 0, 0));
}

hr::after {
    display: inline-block;
    position: relative;
    top: -0.85em;
    padding: 0 0.25em;
}

.green {
    color: #090;
}

.red {
    color: #c03;
}

.key {
    display: inline-block;
    padding: 8.5px 5px 9px;
    color: #cf6;
    font-weight: bold;
    line-height: 0;
    background-color: #2c2c2c;
    border: 1px solid #777;
    border-radius: 3px;
}


/* Transformations ---------------------------------------*/

.rotate-90 { transform: rotate(90deg); }
.rotate-180 { transform: rotate(180deg); }
.rotate-270 { transform: rotate(270deg); }

.flip-h { transform: scale(-1, 1); }
.flip-v { transform: scale(1, -1); }


/* Miscellaneous Media Queries ---------------------------*/

@media (max-width: 800px) {
    .column.left,
    .column.right {
        float: none;
        width: 100%;
    }
}

@media (min-width: 480px) {
    .multi {
        border-radius: 7px;
    }
}

@media (min-width: 801px) {
    .key {
        padding: 9.5px 5px 10px;
    }
}

@media print {
    html,
    body {
        display: none !important;
        visibility: hidden !important;
    }
}
