/* Modal -------------------------------------------------*/

.modal {
    display: table;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 8;
    width: 100%;
    height: 100%;
    background-color: #222;
    background-color: rgba(34, 34, 34, 0.9);
}

.modal .center {
    display: table-cell;
    vertical-align: middle;
    padding: 8%;
}

.modal-title {
    color: #be5;
    font: bold 1.5em CreativeBlock;
    letter-spacing: 0.02em;
    text-shadow: 0 0 3px #000
}

.modal-message {
    color: #fcfcfc;
    font-weight: bold;
    line-height: 1.2em;
    letter-spacing: 0.05em;
    text-align: center;
}

.modal .options {
    margin-top: 20px;
}

.modal .option {
    line-height: 1.2em;
    letter-spacing: 0.03em;
}

.modal .multi {
    min-width: 75%;
    margin: 4%;
    color: #000;
    font-family: CreativeBlock, sans-serif;
    white-space: nowrap;
    border-radius: 10px;
    cursor: pointer;
    background-color: #cf6;
    border-color: #be5;
    box-shadow: 0 0 0 3px #fcfcfc;
}

.modal .multi .fa {
    margin-right: 15px;
}

.modal .button-text {
    position: absolute;
    bottom: -1.2em;
    left: 0;
    right: 0;
    color: #fcfcfc;
    font-size: 0.8em;
}

.modal input,
.modal select {
    min-width: 80%;
    margin: 6% 0 2% 0;
    font-family: FocusLight;
    text-align: center;
    letter-spacing: 0.07em;
    border-radius: 10px;
    background: #000;
    background: rgba(0, 0, 0, 0.4);
    outline: none;
    cursor: text;
    transition: none;
}

.modal input::-webkit-outer-spin-button,
.modal input::-webkit-inner-spin-button {
    display: none;
}

#modal-welcome .modal-message {
    font-size: 0.8em;
}

#modal-define #word {
    color: #eee;
    font-size: 1.2em;
    font-style: italic;
}


/* Map Modal ---------------------------------------------*/

#modal-map .center {
    padding: 0;
    text-align: center;
    cursor: move;
    /* background: url(/images/ellipsis.svg) no-repeat 50% 50%; */
}

#modal-map .map {
    width: 100%;
    height: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    backface-visibility: visible;
}

/* #map-marker {
    position: absolute;
    width: 40px;
    height: 40px;
    color: #c03;
    line-height: 40px;
    text-align: center;
    text-shadow: 1px 1px 2px #000, 0 0 1px #fff;
} */


/* Profile Modals ----------------------------------------*/

#modal-color .multi,
#modal-food .multi,
#modal-animal .multi {
    font-size: 0.85em;
}

#modal-food .multi {
    padding: 5px;
    color: #fcfcfc;
    text-shadow: 0 0 5px #666;
    border: 1px solid #666;
    -webkit-text-stroke-color: #000;
    -webkit-text-stroke-width: 1px;
    -webkit-text-fill-color: #fcfcfc;
}

#modal-color .multi {
    padding: 5px;
    box-shadow: 0 0 0 1px #222;
}

#modal-animal .option {
    font-family: CreativeBlock;
}

#modal-color .option:nth-of-type(1) { background: red;    border-color: red; }
#modal-color .option:nth-of-type(2) { background: green;  border-color: green;  color: #fcfcfc; }
#modal-color .option:nth-of-type(3) { background: yellow; border-color: yellow; }
#modal-color .option:nth-of-type(4) { background: blue;   border-color: blue;   color: #fcfcfc; }
#modal-color .option:nth-of-type(5) { background: orange; border-color: orange; }
#modal-color .option:nth-of-type(6) { background: purple; border-color: purple; color: #fcfcfc; }
#modal-color .option:nth-of-type(7) { background: pink;   border-color: pink; }
#modal-color .option:nth-of-type(8) { background: brown;  border-color: brown;  color: #fcfcfc; }


/* Modal Media Queries -----------------------------------*/

@media (min-width: 601px) {
    .modal {
        font-size: 0.8em;
    }
    
    .modal .multi {
        min-width: 60%;
        margin: 3%;
    }
    
    .modal input,
    .modal select {
        min-width: 65%;
    }
}

@media (min-width: 801px) {
    .modal {
        font-size: 0.7em;
    }
    
    .modal .multi {
        min-width: 55%;
        margin: 2.5%;
    }
    
    .modal input,
    .modal select {
        min-width: 60%;
    }
}

@media (min-width: 1025px) {
    .modal {
        font-size: 0.6em;
    }
    
    .modal .multi {
        min-width: 45%;
        margin: 2%;
    }
    
    .modal input,
    .modal select {
        min-width: 50%;
    }
}
