/* Catalog Ribbon ----------------------------------------*/

.catalog-ribbon {
    display: none;
    position: absolute;
    top: -22px;
    left: -21px;
    /* width: 19.098%; */
    width: 128px;
    height: 113px;
    background-image: url(/images/ribbon.png);
    background-size: contain;
}

.catalog-ribbon.letters-4 {
    filter: hue-rotate(200deg);
}

.catalog-ribbon span {
    display: block;
    position: absolute;
    width: 20px;
    height: 25px;
    padding: 0;
    overflow: visible;
    color: #fcfcfc;
    font: normal 32px/0.7 CreativeBlock;
    white-space: pre;
    transform-origin: 50% 100%;
}

.catalog-ribbon.letters-3 span:nth-of-type(1) {
    top: 41%;
    left: 28%;
    transform: rotate(-6.7rad);
}

.catalog-ribbon.letters-3 span:nth-of-type(2) {
    top: 30%;
    left: 45%;
    transform: rotate(-6.9rad);
}

.catalog-ribbon.letters-3 span:nth-of-type(3) {
    top: 16%;
    left: 57%;
    transform: rotate(-7.2rad);
}

.catalog-ribbon.letters-4 span:nth-of-type(1) {
    top: 47%;
    left: 16%;
    transform: rotate(-6.4rad);
}

.catalog-ribbon.letters-4 span:nth-of-type(2) {
    top: 38%;
    left: 34%;
    transform: rotate(-6.9rad);
}

.catalog-ribbon.letters-4 span:nth-of-type(3) {
    top: 23%;
    left: 52%;
    transform: rotate(-7.3rad);
}

.catalog-ribbon.letters-4 span:nth-of-type(4) {
    top: 4%;
    left: 63%;
    transform: rotate(-7.3rad);
}