/* Sky ---------------------------------------------------*/

#sky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.cloud,
.flyer {
    position: absolute;
    transform: translate3d(0, 0, 0);
}

#grass {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 15%;
    max-height: 72px;
    background: transparent url(/images/grass.png) repeat-x 0;
}

.cloud-time-240 { -webkit-animation: cloud 240s; animation: cloud 240s; }
.cloud-time-320 { -webkit-animation: cloud 320s; animation: cloud 320s; }
.cloud-time-400 { -webkit-animation: cloud 400s; animation: cloud 400s; }

.bird-time-100 { -webkit-animation: cloud 100s; animation: cloud 100s; }
.bird-time-110 { -webkit-animation: cloud 110s; animation: cloud 110s; }
.bird-time-120 { -webkit-animation: cloud 120s; animation: cloud 120s; }
.bird-time-130 { -webkit-animation: cloud 130s; animation: cloud 130s; }

.plane-time-70 { -webkit-animation: plane 70s; animation: plane 70s; }
.plane-time-80 { -webkit-animation: plane 80s; animation: plane 80s; }
.plane-time-90 { -webkit-animation: plane 90s; animation: plane 90s; }
.plane-time-100 { -webkit-animation: plane 100s; animation: plane 100s; }

@-webkit-keyframes cloud { to { transform: translate(2048px); } }
        @keyframes cloud { to { transform: translate(2048px); } }

@-webkit-keyframes plane { to { transform: translate(-2048px); } }
        @keyframes plane { to { transform: translate(-2048px); } }

.sky-0,
.sky-1,
.sky-2,
.sky-3,
.sky-4,
.sky-21,
.sky-22,
.sky-23  {
    background: url(/images/stars.png) repeat top center, linear-gradient(to bottom, #000006 0%, #00000f 100%);
}

.sky-5  { background: linear-gradient(to bottom, #40405c 0%, #6f71aa 80%, #8a76ab 100%); }
.sky-6  { background: linear-gradient(to bottom, #4a4969 0%, #7072ab 50%, #cd82a0 100%); }
.sky-7  { background: linear-gradient(to bottom, #757abf 0%, #8583be 60%, #eab0d1 100%); }
.sky-8  { background: linear-gradient(to bottom, #82addb 0%, #ebb2b1 100%); }
.sky-9  { background: linear-gradient(to bottom, #94c5f8 1%, #a6e6ff 70%, #b1b5ea 100%); }
.sky-10 { background: linear-gradient(to bottom, #b7eaff 0%, #94dfff 100%); }
.sky-11 { background: linear-gradient(to bottom, #9be2fe 0%, #67d1fb 100%); }
.sky-12 { background: linear-gradient(to bottom, #90dffe 0%, #38a3d1 100%); }
.sky-13 { background: linear-gradient(to bottom, #57c1eb 0%, #246fa8 100%); }
.sky-14 { background: linear-gradient(to bottom, #2d91c2 0%, #1e528e 100%); }
.sky-15 { background: linear-gradient(to bottom, #2473ab 0%, #1e528e 70%, #5b7983 100%); }
.sky-16 { background: linear-gradient(to bottom, #1e528e 0%, #265889 50%, #9da671 100%); }
.sky-17 { background: linear-gradient(to bottom, #1e528e 0%, #728a7c 50%, #e9ce5d 100%); }
.sky-18 { background: linear-gradient(to bottom, #154277 0%, #576e71 30%, #e1c45e 70%, #b26339 100%); }
.sky-19 { background: linear-gradient(to bottom, #163c52 0%, #4f4f47 30%, #c5752d 60%, #b7490f 80%, #2F1107 100%); }
.sky-20 { background: linear-gradient(to bottom, #071b26 0%,  #071b26 30%, #8a3b12 80%, #240e03 100%); }

.sky-23 #grass,
.sky-0 #grass,
.sky-1 #grass,
.sky-2 #grass {
    filter: brightness(0.4) contrast(0.8);
}

.sky-3 #grass,
.sky-4 #grass,
.sky-21 #grass,
.sky-22 #grass {
    filter: brightness(0.5) contrast(0.8);
}

.sky-5 #grass,
.sky-6 #grass,
.sky-19 #grass,
.sky-20 #grass {
    filter: brightness(0.6) contrast(0.9);
}

.sky-7 #grass,
.sky-18 #grass {
    filter: brightness(0.8) contrast(0.9);
}

.sky-8 #grass,
.sky-9 #grass,
.sky-10 #grass,
.sky-15 #grass,
.sky-16 #grass,
.sky-17 #grass {
    filter: brightness(0.9);
}

@-webkit-keyframes move-twinkle {
    from { background-position: 0 0; }
      to { background-position: -10000px 5000px; }
}

@keyframes move-twinkle {
    from { background-position: 0 0; }
      to { background-position: -10000px 5000px; }
}

#twinkle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#twinkle {
    background: transparent url(/images/twinkle.png) repeat top center;
    animation: move-twinkle 400s linear infinite;
}


/* Sky Media Queries -------------------------------------*/

@media (min-resolution: 192dpi) and (min-device-width: 768px), (min-resolution: 2dppx) and (min-device-width: 768px) {

 /* Animation jank occurs on devices with larger hi-res screens and not so powerful processors.
    We cannot easily detect processor speed so just disable animations on all these devices. */
    #twinkle,
    .cloud-type-7,
    .cloud-type-8 {
        display: none;
    }
}
