/* Slick -------------------------------------------------*/

.slick-slider {
    display: block;
    position: relative !important;
    box-sizing: border-box;
    -ms-touch-action: none;
}

.slick-list {
    display: block;
    position: relative;
    /* overflow: hidden; */
    /* margin: 0; */
    margin: 0 50px !important;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-loading .slick-list {
    background: white url(/images/ellipsis.svg) center center no-repeat;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-list,
.slick-track,
.slick-slide,
.slick-slide img {
    transform: translate3d(0, 0, 0);
}

.slick-track {
    display: block;
    position: relative;
    left: 0;
    top: 0;
    zoom: 1;
}

.slick-track::before,
.slick-track::after {
    display: table;
    content: '';
    
}

.slick-track::after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-prev,
.slick-next {
    display: block;
    position: absolute;
    top: 50%;
    width: 50px;
    height: 50px;
    margin-top: -25px;
    padding: 0;
    line-height: 0;
    font-size: 0;
    cursor: pointer;
    background: transparent;
    color: transparent;
    border: none;
    outline: none;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent;
}

.slick-prev:hover::before,
.slick-prev:focus::before,
.slick-next:hover::before,
.slick-next:focus::before {
    opacity: 1;
}

.slick-prev.slick-disabled::before,
.slick-next.slick-disabled::before {
    opacity: 0.25;
}

.slick-prev::before,
.slick-next::before {
    color: #fcfcfc;
    font-family: FontAwesome;
    font-size: 50px;
    line-height: 1;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
    left: 0;
}

.slick-prev::before {
    content: '\f060';
}

.slick-next {
    right: 0;
}

.slick-next::before {
    content: '\f061';
}

/* .slick-slider {
    margin-bottom: 30px;
} */

.slick-dots {
    display: block;
    position: absolute;
    bottom: -45px;
    list-style: none;
    text-align: center;
    padding: 0;
    width: 100%;
}

.slick-dots li {
    display: inline-block;
    position: relative;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}

.slick-dots li button {
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    color: transparent;
    font-size: 0;
    line-height: 0;
    border: 0;
    outline: none;
    background: transparent;
    cursor: pointer;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
    outline: none;
}

.slick-dots li button:hover::before,
.slick-dots li button:focus::before {
    opacity: 1;
}

.slick-dots li button::before {
    position: absolute;
    content: '\f111';
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    opacity: 0.25;
    color: black;
    font-family: FontAwesome;
    font-size: 6px;
    line-height: 20px;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-dots .slick-active button::before {
    opacity: 0.75;
    color: black;
}