/* Story -------------------------------------------------*/

.story {
    font-size: 18px;
}

.section,
.decision {
    position: relative;
    opacity: 0;
    box-sizing: border-box;
    transition: all 300ms;
}

.filler,  /*DEBUG*/
.section,
.decision-inner {
    line-height: 1.45em;
    letter-spacing: 0.017em;
}

.serif .section,
.serif .decision-inner,
.serif .option {
    letter-spacing: normal;
}

.decision {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.decision-inner {
    display: inline-block;
    max-width: 100%;
    padding: 15px 25px;
    border: 3px solid #cec;
    border-radius: 10px;
    background-color: #dfd;
    box-sizing: border-box;
    transition: all 300ms, font-size 0;
}

.decision .options {
    margin-top: 0.5em;
}

.decision .option {
    font-weight: bold;
    letter-spacing: 0.02em;
}

.decision .multi {
    margin: 10px;
    padding: 5px 10px 3px 10px;
    transition: color 100ms, background-color 100ms, border-color 100ms, box-shadow 100ms;
}

.decision .option-deactivated {
    color: #666;
    font-weight: bold;
    letter-spacing: 0.02em;
    transition: all 100ms;
}

.decision .option-deactivated.multi {
    background-color: #ccc;
    border-color: #bbb;
    box-shadow: 0 0 0 2px #e3e3e3;
}

.filler {
    width: 100%;
    border-style: none;
    box-sizing: border-box;
}

/*WEB_BEGIN*/
.filler.loading {
    background-image: url(/images/ellipsis.svg);
    background-position: 50%;
    background-position: 50% calc(50% - 25px);
    background-repeat: no-repeat;
    background-size: 20%;
}
/*WEB_END*/

.story hr {
    border-top: 1.45em solid #fcfcfc;
    border-bottom: 1.45em solid #fcfcfc;
}

.story hr::after {
    content: '\f02e';
    font: normal 0.8em FontAwesome;
    background: #fcfcfc; 
 }

.decision hr {
    border-top: 0.5em solid #dfd;
    border-bottom: 0.5em solid #dfd;
}

.decision hr::after {
    content: '';
    background: #dfd;
}

.image {
    max-width: 50%;
}

.image.left {
    margin-right: 4%;
}

.image.right {
    margin-left: 4%;
}

.marked {
    cursor: pointer;
}

.verse {
    margin-left: 10%;
    font-style: italic;
}

#flow .section:first-of-type p:first-of-type::first-letter,
.section hr + p::first-letter,
.first-letter {
    color: #444;
    font-size: 1.4em;
    font-weight: bold;
    vertical-align: sub;
    line-height: 0;
}

.tiny .filler,  /*DEBUG*/
.tiny .section,
.tiny .decision-inner {
    font-size: 0.8em;
}

.small .filler,  /*DEBUG*/
.small .section,
.small .decision-inner {
    font-size: 0.9em;
}

.medium .filler,  /*DEBUG*/
.medium .section,
.medium .decision-inner {
    font-size: 1em;
}

.large .filler,  /*DEBUG*/
.large .section,
.large .decision-inner {
    font-size: 1.1em;
}

.huge .filler,  /*DEBUG*/
.huge .section,
.huge .decision-inner {
    font-size: 1.2em;
}


/* Story Media Queries -----------------------------------*/

@media (min-width: 320px) {
    .story {
        font-size: 19px;
    }
}

@media (min-width: 400px) {
    .story {
        font-size: 20px;
    }
}

@media (min-width: 480px) {
    .story {
        font-size: 21px;
    }
}

@media (min-width: 560px) {
    .story {
        font-size: 22px;
    }
}

@media (min-width: 640px) {
    .story {
        font-size: 23px;
    }
    
    .image {
        max-width: 33%;
    }
}

@media (min-width: 720px) {
    .story {
        font-size: 24px;
    }
}

@media (min-width: 800px) {
    .story  {
        font-size: 25px;
    }
}

@media (min-width: 880px) {
    .story {
        font-size: 26px;
    }
}

@media (min-width: 960px) {
    .story {
        font-size: 27px;
    }
}

@media (min-width: 1040px) {
    .story {
        font-size: 28px;
    }
}
