/* View --------------------------------------------------*/

.view {
    position: relative;
    margin-bottom: 30px;
    padding: 10px 10px 10px 15px;
    opacity: 0;
    color: #000;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.9), 0 0 10px rgba(51, 51, 51, 0.9);
    box-sizing: border-box;
    transition: box-shadow 80ms;
}

.view:focus,
.view:hover {
    box-shadow: 0 0 0 5px rgba(255, 255, 255, 1), 0 0 10px rgba(51, 51, 51, 0.9);
}

.slider .view {
    margin-bottom: 0;
}

.title {
    vertical-align: middle;
    color: #000;
    font-family: CreativeBlock, sans-serif;
    line-height: 1em;
    letter-spacing: 0.014em;
    white-space: nowrap;
}

.desc {
	color: #222;
    font-size: 0.85em;
    line-height: 1.3em;
    letter-spacing: 0.017em;
}


/* View Media Queries ------------------------------------*/

@media (min-width: 366px) {
    .title {
        vertical-align: baseline;
    }
}

@media (min-width: 381px) {
    :not(.slider) .view {
        box-shadow: 0 0 0 6px rgba(255, 255, 255, 0.9), 0 0 12px rgba(51, 51, 51, 0.9);
    }

    :not(.slider) .view:focus,
    :not(.slider) .view:hover {
        box-shadow: 0 0 0 6px rgba(255, 255, 255, 1), 0 0 12px rgba(51, 51, 51, 0.9);
    }
}

@media (min-width: 481px) {
    .view {
        margin-bottom: 35px;
    }

    .desc {
        font-size: 0.7em;
    }
}

@media (min-width: 601px) {
    .view {
        margin-bottom: 40px;
    }
}

@media (min-width: 769px) {    
    :not(.slider) .view {
        margin-bottom: 50px;
        box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.9), 0 0 14px rgba(51, 51, 51, 0.9);
    }
    
    :not(.slider) .view:focus,
    :not(.slider) .view:hover {
        box-shadow: 0 0 0 7px rgba(255, 255, 255, 1), 0 0 14px rgba(51, 51, 51, 0.9);
    }

    .slider .view {
        box-shadow: 0 0 0 6px rgba(255, 255, 255, 0.9), 0 0 12px rgba(51, 51, 51, 0.9);
    }

    .slider .view:focus,
    .slider .view:hover {
        box-shadow: 0 0 0 6px rgba(255, 255, 255, 1), 0 0 12px rgba(51, 51, 51, 0.9);
    }
}

@media (min-width: 801px) {
    .desc {
        font-size: 0.5em;
    }
}

@media (min-width: 1025px) {
    :not(.slider) .view {
        box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.9), 0 0 14px rgba(51, 51, 51, 0.9) !important;
    }

    :not(.slider) .view:focus,
    :not(.slider) .view:hover {
        box-shadow: 0 0 0 7px rgba(255, 255, 255, 1), 0 0 14px rgba(51, 51, 51, 0.9) !important;
    }
}

@media (min-width: 1153px) {
    .slider .view {
        box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.9), 0 0 14px rgba(51, 51, 51, 0.9) !important;
    }

    .slider .view:focus,
    .slider .view:hover {
        box-shadow: 0 0 0 7px rgba(255, 255, 255, 1), 0 0 14px rgba(51, 51, 51, 0.9) !important;
    }
}
