<div class="modal-message">
    Keyboard Commands

    <div class="table-wrap">
        <table>
            <th colspan="2">Almost anywhere:</th>
            <tr><td class="key">F1</td><td>Show this list</td></tr>
            <tr><td class="key" style="font-size: 0.6em">Esc</td><td>Close or go back</td></tr>
            <tr><td class="key">C</td><td>Open Catalog</td></tr>
            <tr><td class="key">P</td><td>Open Preferences</td></tr>
            <th colspan="2">When reading a story:</th>
            <tr><td class="key">H</td><td>Help with a decision</td></tr>
            <tr><td class="key">I</td><td>Show Inventory</td></tr>
            <tr><td class="key">M</td><td>Show Map</td></tr>
            <tr><td class="key">—</td><td>Make text smaller</td></tr>
            <tr><td class="key">+</td><td>Make text larger</td></tr>
        </table>
    </div>
</div>

<style>

    #modal-keyboard .table-wrap {
        left: 0px;
        right: 0px;
        margin: auto;
        max-width: 64%;
    }

    #modal-keyboard table {
        width: 100%;
        border-spacing: 2px;
        color: #ccc;
        font-size: 0.75em;
    }

    #modal-keyboard th {
        padding: 10% 0 5%;
        color: #999;
        font-weight: normal;
        text-align: left;
    }

    #modal-keyboard .key {
        width: 33%;
        padding: 23%;
        text-align: center;
        vertical-align: text-top;
    }

    #modal-keyboard td:not(.key) {
        padding-left: 3%;
        font-weight: normal;
        text-align: left;
    }

    @media (min-width: 600px) {
        #modal-keyboard .table-wrap {
            max-width: 50%;
        }
    }

    @media (min-width: 800px) {
        #modal-keyboard .table-wrap {
            max-width: 40%;
        }
    }

    @media (min-width: 1000px) {
        #modal-keyboard .table-wrap {
            max-width: 30%;
        }
    }

</style>
