<div class="modal-message">What part of the world do you live in?</div>

<div class="options">

    <img id="world" alt="World" src="/images/world.png" usemap="#world-map" onload="st.Init.world.resolve()">

    <map id="world-map" class="option" name="world-map">

        <area alt="Africa"
              title="Africa"
              href="javascript:void(0)"
              onclick="st.selectRegion('Africa')"
              shape="poly"
              coords="523,221,517,219,461,230,439,257,433,284,447,323,475,331,503,327,512,345,515,388,540,454,565,458,598,435,607,422,638,422,653,378,630,358,644,335,652,305,641,304,624,304,617,296,590,245,583,240,560,236,538,235"
              data-coords="523,221,517,219,461,230,439,257,433,284,447,323,475,331,503,327,512,345,515,388,540,454,565,458,598,435,607,422,638,422,653,378,630,358,644,335,652,305,641,304,624,304,617,296,590,245,583,240,560,236,538,235">

        <area alt="Asia"
              title="Asia"
              href="javascript:void(0)"
              onclick="st.selectRegion('Asia')"
              shape="poly"
              coords="686,66,693,91,689,103,685,115,680,126,676,145,666,164,656,175,644,177,651,185,631,197,623,195,612,199,597,203,583,208,573,215,573,223,583,228,602,263,620,296,628,300,654,297,677,277,691,276,717,315,730,327,749,316,749,297,764,289,773,313,796,346,835,391,907,400,926,389,949,387,960,370,961,362,929,351,893,347,878,335,878,305,870,282,882,261,924,246,935,216,946,171,972,180,1001,147,1038,130,1055,90,1035,69,991,69,921,49,896,57,859,46,812,27,773,30,732,50"
              data-coords="686,66,693,91,689,103,685,115,680,126,676,145,666,164,656,175,644,177,651,185,631,197,623,195,612,199,597,203,583,208,573,215,573,223,583,228,602,263,620,296,628,300,654,297,677,277,691,276,717,315,730,327,749,316,749,297,764,289,773,313,796,346,835,391,907,400,926,389,949,387,960,370,961,362,929,351,893,347,878,335,878,305,870,282,882,261,924,246,935,216,946,171,972,180,1001,147,1038,130,1055,90,1035,69,991,69,921,49,896,57,859,46,812,27,773,30,732,50">

        <area alt="Australasia"
              title="Australasia"
              href="javascript:void(0)"
              onclick="st.selectRegion('Australasia')"
              shape="poly"
              coords="868,484,849,435,880,416,923,394,948,397,969,363,995,367,1046,395,1072,420,1073,484,1049,526,966,518"
              data-coords="868,484,849,435,880,416,923,394,948,397,969,363,995,367,1046,395,1072,420,1073,484,1049,526,966,518">

        <area alt="Europe"
              title="Europe"
              href="javascript:void(0)"
              onclick="st.selectRegion('Europe')"
              shape="poly"
              coords="518,217,505,217,463,227,453,213,460,189,446,166,442,141,419,112,420,101,439,95,485,101,535,69,519,22,550,12,580,20,596,58,633,65,699,39,708,50,683,67,689,89,686,98,683,108,676,124,672,140,670,151,661,162,656,171,642,173,638,177,645,184,629,193,622,192,610,195,582,202,580,210,571,213,564,228,539,228"
              data-coords="518,217,505,217,463,227,453,213,460,189,446,166,442,141,419,112,420,101,439,95,485,101,535,69,519,22,550,12,580,20,596,58,633,65,699,39,708,50,683,67,689,89,686,98,683,108,676,124,672,140,670,151,661,162,656,171,642,173,638,177,645,184,629,193,622,192,610,195,582,202,580,210,571,213,564,228,539,228">

        <area alt="North America"
              title="North America"
              href="javascript:void(0)"
              onclick="st.selectRegion('North America')"
              shape="poly"
              coords="113,90,140,50,182,47,265,10,327,10,401,2,445,77,406,111,397,146,368,211,321,253,311,307,280,337,260,344,198,321,131,254,98,196,57,185,7,186,5,150,5,109,38,86"
              data-coords="113,90,140,50,182,47,265,10,327,10,401,2,445,77,406,111,397,146,368,211,321,253,311,307,280,337,260,344,198,321,131,254,98,196,57,185,7,186,5,150,5,109,38,86">

        <area alt="South America"
              title="South America"
              href="javascript:void(0)"
              onclick="st.selectRegion('South America')"
              shape="poly"
              coords="282,338,315,335,404,390,388,448,344,491,316,520,308,568,280,566,259,535,271,441,251,420,240,382,260,347"
              data-coords="282,338,315,335,404,390,388,448,344,491,316,520,308,568,280,566,259,535,271,441,251,420,240,382,260,347">

        <area alt="The Pacific"
              title="The Pacific"
              href="javascript:void(0)"
              onclick="st.selectRegion('The Pacific')"
              shape="poly"
              coords="974,355,919,334,905,322,899,284,916,267,948,242,968,208,1020,190,1073,184,1073,412,1045,387,1007,364"
              data-coords="974,355,919,334,905,322,899,284,916,267,948,242,968,208,1020,190,1073,184,1073,412,1045,387,1007,364">

    </map>

    <div id="region"></div>

</div>


<style>

    #world {
        width: 100%;
        max-width: 100%;
        max-height: 66vh;
    }
    
    #world-map area {
        outline: none;
    }
    
    #region {
        display: none;
        position: absolute;
        top: 45%;
        top: calc(50% - 0.75em);
        left: 0;
        right: 0;
        color: #fcfcfc;
        font: normal 3em CreativeBlock;
        text-shadow: 0 0 2px #000;
    }

</style>


<script>

    /**
     *  Resizes elements in modal-region.
     */
     
    st.resizeRegion = function () {
        st.debug('resizeRegion()');
        
        st.Env.vmin && $('#world').css('max-height', window.innerHeight * 0.66 + 'px');
        st.resizeImageMap('world-map');
    };


    /**
     *  Informs of the selected region and calls updateProfile.
     *  @param {string} region
     */

    st.selectRegion = function (region) {
        st.debug(`selectRegion(${region})`);
        
        $('#modal-region #region')
            .html(region)
            .velocity('transition.expandIn')
            .velocity('transition.shrinkOut');
        
        setTimeout(() => {
            st.updateProfile('region', region, 'density');
        }, 1200);
    };

</script>
