<div id="tip-badge" class="tip">
    <div class="tip-rel">
        <img class="tip-arrow" src="/images/arrow-up.png" role="presentation">
        <div class="tip-desc">
            <span class="press">Press</span> to show the map
        </div>
    </div>
</div>

<div id="tip-menu" class="tip">
    <div class="tip-rel">
        <img class="tip-arrow" src="/images/arrow-curved.png" role="presentation">
        <div class="tip-desc">
            Long–<span class="press">press</span> to open the catalog
        </div>
    </div>
</div>

<div id="tip-text" class="tip">
    <div class="tip-rel">
        <img class="tip-arrow" src="/images/arrow-pinch.png" role="presentation">
        <div class="tip-desc">
            Pinch in to make text smaller or out to make it larger
        </div>
    </div>
</div>

<div class="options">
    <!-- The option event handlers are set in loadStory so that the loaded function can be passed to closeModal -->
    <div id="got-it" class="bg-pulse option multi">Got It!</div>
    <div id="remind" class="bg-pulse option multi">Remind me later</div>
</div>


<style>

    #header {
        z-index: 9;
    }
    
    #context-icon {
        opacity: 0;
    }
    
    #badge,
    #menu-icon {
        cursor: default;
        pointer-events: none;
    }
    
    #modal-tips .multi {
        min-width: 20%;
        color: #000;
    }

    .tip {
        position: absolute;
    }
    
    .tip-rel {
        position: relative;
    }
    
    .tip-desc {
        position: absolute;
        padding: 5%;
        font-size: 18px;
        color: #ebebeb;
        letter-spacing: 0.03em;
        line-height: 1.35em;
        text-shadow: 1px 1px 1px #000;
    }
    
    .tip-desc-long {
        display: none;
    }

    #tip-badge .tip-desc span:first-of-type {
        text-transform: capitalize;
    }
    
    #tip-badge {
        top: 85px;
        width: 100px;
    }
    
    #tip-badge {
        left: 35px;
    }
    
    #tip-badge .tip-arrow {
        width: 10px;
    }
    
    #tip-badge .tip-desc {
        left: -5%;
        margin-top: 5px;
    }
    
    #tip-menu {
        top: 40px;
        right: 5px;
        width: 110px;
    }
    
    #tip-menu .tip-arrow,
    #tip-text .tip-arrow {
        width: 30px;
    }
        
    #tip-menu .tip-desc {
        top: 70%;
        left: 10%;
    }
    
    #tip-text {
        bottom: 20%;
        left: 35%;
        left: calc(50% - 90px);
        width: 200px;
    }
    
    #tip-text .tip-desc {
        top: 55%;
        left: 10%;
    }
    
    @media (min-height: 400px) {
        .tip-desc-short {
            display: none;
        }

        .tip-desc-long {
            display: inline;
        }
    }

    @media (min-width: 481px) {
        .tip-desc {
            font-size: 20px;
        }

        #tip-badge {
            width: 125px;
        }

        #tip-title {
            left: 200px;
        }

        #tip-badge .tip-arrow,
        #tip-title .tip-arrow {
            width: 15px;
        }

        #tip-menu {
            top: 35px;
            width: 130px;
        }

        #tip-menu .tip-arrow {
            width: 50px;
        }

        #tip-menu .tip-desc {
            left: 10%;
        }

        #tip-text {
            left: 30%;
            left: calc(50% - 105px);
            width: 210px;
        }

        #tip-text .tip-desc {
            left: 12.5%;
        }
    }

    @media (min-width: 801px) {
        .tip-desc {
            font-size: 22px;
        }

        #tip-badge {
            width: 150px;
        }

        #tip-title {
            left: 250px;
        }

        #tip-badge .tip-arrow {
            width: 20px;
        }

        #tip-menu {
            width: 140px;
        }

        #tip-menu .tip-arrow {
            width: 60px;
        }

        #tip-text {
            left: 35%;
            left: calc(50% - 115px);
            width: 230px;
        }

        #tip-text .tip-arrow {
            width: 40px;
        }
    }
    
    @media (min-width: 1025px) {
        .tip-desc {
            font-size: 24px;
        }

        #tip-badge {
            width: 170px;
        }

        #tip-title {
            left: 275px;
        }

        #tip-badge .tip-arrow {
            width: 25px;
        }

        #tip-menu {
            width: 150px;
        }

        #tip-menu .tip-arrow {
            width: 70px;
        }

        #tip-text {
            left: 40%;
            left: calc(50% - 125px);
            width: 250px;
        }

        #tip-text .symbol {
            padding: 9px 5px 10px;
        }
    }
    
</style>


<script>

    if (!st.Env.hasTouch) {
        $('.press').html('click');
        
        $('#tip-text .tip-desc').html('Press <span class="key">—</span> <span class="tip-desc-short">or</span><span class="tip-desc-long">to make text smaller or</span> <span class="key">+</span> <span class="tip-desc-short">to zoom text</span><span class="tip-desc-long">to make it larger</span>');
    }

</script>
