<style scoped>

    .legal {
        opacity: 1;
        border-color: #5286ff;
        background: #a7c2ff;
        background: url(/images/bg-legal.png) repeat;
    }

    .legal .title {
        text-shadow: 0 0 1px #b8ceff;  /* #c9daff */
    }

    .legal .hr-left {
        background: -webkit-linear-gradient(to right, rgba(82, 134, 255, 1) 0,
            rgba(0, 0, 0, 0) 100%);
        background: linear-gradient(to right, rgba(82, 134, 255, 1) 0, rgba(0, 0, 0, 0) 100%);
    }

</style>


<div id="legal-about" class="view legal">
    <div>
        <span class="title">About</span>
    </div>
    <div class="hr-left"></div>
    <div class="desc">
        StoryTime is an app that delivers interactive stories for reading. It was inspired by the <em>Choose Your Own Adventure</em> series of children’s books. StoryTime is my first app and the culmination of many hours work. I hope you enjoy it!
    </div>
</div>

<div id="legal-privacy" class="view legal">
    <div>
        <span class="title">Privacy</span>
    </div>
    <div class="hr-left"></div>
    <div class="desc">
        I have built this app to respect your privacy. No personally-identifying information is collected. Anonymous metrics are sometimes collected and aggregated to help improve the app. This information is securely processed by Google and is not shared with any other third-parties.
    </div>
</div>

<div id="legal-copyright" class="view legal">
    <div>
        <span class="title">Copyright</span>
    </div>
    <div class="hr-left"></div>
    <div class="desc">
        To protect my time investment, all original content is copyright, including story prose, illustrations and app logic. Please do not copy or redistribute this content without my express written permission. Some images used are from the public domain and not covered by copyright. StoryTime also uses third-party open-source code libraries, which are separately licensed by their respective creators. 
    </div>
</div>

<div id="legal-defs" class="view legal">
    <div>
        <span class="title">Word Definitions</span>
    </div>
    <div class="hr-left"></div>
    <div class="desc">
        Word definitions can be looked up by long-<span id="pressing"></span> a word while reading a story. These definitions are provided by glosbe.com, which is a third-party online service. As such, the accuracy and reliability of this feature cannot be guaranteed.
    </div>
</div>

<div id="legal-terms" class="view legal">
    <div>
        <span class="title">Terms of Use</span>
    </div>
    <div class="hr-left"></div>
    <div class="desc">
        This app was not made for any specific purpose and is provided without warranties. It may change, glitch or cease to function at any time. Also, this app contains lots of words – some of which you might not like. If the previous statements are acceptable then feel free to continue using this app.
    </div>
</div>

<div id="legal-contact" class="view legal">
    <div>
        <span class="title">Contact Info</span>
    </div>
    <div class="hr-left"></div>
    <div class="desc">
        I would love to receive your questions and feedback. Issues will be addressed as quickly as is reasonable, with priority given to people who have made a purchase. Please contact me at <a id="email" style="font-weight: bold; text-decoration: none"></a>.
    </div>
</div>


<script>

    $('#pressing').html(st.Env.hasTouch ? 'pressing' : 'clicking');
    $('#email').attr('href', 'mailto:' + st.EMAIL).html(st.EMAIL);
    
</script>
