<style scoped>

    .pref {
        opacity: 1;
        border-color: #fa0;
        background: #fc6;
        background: url(/images/bg-prefs.png) repeat;
        -webkit-transition: filter 150ms;
                transition: filter 150ms;  /* border-color 150ms */
    }

    .pref .title {
        text-shadow: 0 0 1px #fff4dd;  /* #fec */  /* #fff9ee */
        -webkit-transition: color 150ms;
                transition: color 150ms;
    }

    .pref .title .short {
        display: none;
    }

    .pref-sub {
        margin-left: 5px;
        color: #c03;
        font-size: 0.6em;
    }

    .pref .hr-left {
        background: -webkit-linear-gradient(to right, rgba(241, 143, 14, 1) 0,
            rgba(0, 0, 0, 0) 80%);
        background: linear-gradient(to right, rgba(241, 143, 14, 1) 0, rgba(0, 0, 0, 0) 80%);
        -webkit-transition: background 150ms;
                transition: background 150ms;
    }

    .pref .desc {
        -webkit-transition: color 80ms;
                transition: color 80ms;
    }

    .pref .option {
        color: #666;
        font: bold 0.8em FocusLight, sans-serif;
        line-height: 1.65em;
        letter-spacing: 0.07em;
    }

    .pref .chosen {
        color: #070;
    }

    .pref .chosen.multi {
        background-color: #be5;
        border-color: #98d816;
    }

    .pref .multi {
        float: right;
        width: 12%;
        margin: -11px;
        text-transform: uppercase;
        border-radius: 0 10px;
        box-shadow: 0 0 0 4px #f4f4f4, -3px 3px 0 2px #fa0;
        -webkit-transition: color 80ms, background-color 80ms, border-color 80ms;
                transition: color 80ms, background-color 80ms, border-color 80ms;  /* box-shadow 80ms */
    }

    .pref.deactivated {
        -webkit-filter: saturate(0.2);
                filter: saturate(0.2);
    }

    .pref.deactivated .title {
        color: #666;
    }

    .pref.deactivated .hr-left {
        background: -webkit-linear-gradient(to right, rgba(187, 187, 187, 1) 0,
            rgba(0, 0, 0, 0) 80%);
        background: linear-gradient(to right, rgba(187, 187, 187, 1) 0, rgba(0, 0, 0, 0) 80%);
    }

    #pref-messages-1 {
        display: none;
    }

    @media (max-width: 400px) {
        #pref-scroll .title .long {
            display: none;
        }
    }

    @media (min-width: 481px) {
        .pref-sub {
            margin-left: 10px;
        }
        
        .pref .options {
            font-size: 0.6em;
        }
    }

    @media (min-width: 769px) {
        .pref .options {
            font-size: 0.5em;
        }
    }

    @media (min-width: 801px) {
        .pref .title {
            font-size: 0.6em;
        }

        .pref .title .short {
            display: inline;
        }

        .pref .title .long {
            display: none;
        }

        .pref .option {
            font-size: 0.4em;
            line-height: 2.1em;
        }

        #pref-messages-1 {
            display: block;
        }

        #pref-messages-2 {
            display: none;
        }
    }

</style>


<div id="pref-profile" class="view pref">
    <div>
        <span class="title pointer"
              onclick="st.choosePref('tryView', 'profile')">
            Story Customization …
        </span>
    </div>
    <div class="hr-left"></div>
    <div class="desc">
        Some story details are affected by the profile information you provide. All questions are optional.
    </div>
</div>

<div class="column left">

    <div id="pref-scroll" class="view pref">
        <div>
            <span class="title">
                Auto<span class="long">matic</span> Scroll<span class="long">ing</span>
            </span>
            <span class="option multi" role="button"
                  onclick="st.choosePref('togglePref', 'scroll')">
            </span>
        </div>
        <div class="hr-left"></div>
        <div class="desc">
            Automatically scroll down to the next story section after making a decision or solving a puzzle.
        </div>
    </div>

    <div id="pref-serif" class="view pref">
        <div>
            <span class="title">Serif Font</span>
            <span class="option multi" role="button"
                  onclick="st.choosePref('togglePref', 'serif')">
            </span>
        </div>
        <div class="hr-left"></div>
        <div class="desc">
            An alternative reading font for those who prefer a more classic look.
        </div>
    </div>

    <div id="pref-british" class="view pref">
        <div>
            <span class="title">
                <span class="short">UK</span>
                <span class="long">British</span> English
            </span>
            <span class="option multi" role="button"
                  onclick="st.choosePref('togglePref', 'british')">
            </span>
        </div>
        <div class="hr-left"></div>
        <div class="desc">
            Favour British terms and spelling over American ones.
        </div>
    </div>

    <div id="pref-messages-1" class="view pref">
        <div>
            <span class="title pointer"
                  onclick="st.choosePref('clearSeen')">
                Reset Messages …
            </span>
        </div>
        <div class="hr-left"></div>
        <div class="desc">
            Show all help messages again at the appropriate time.
        </div>
    </div>

</div>  <!-- End of column left -->

<div class="column right">

    <div id="pref-labels" class="view pref">
        <div>
            <span class="title">Menu Labels</span>
            <span class="option multi" role="button"
                  onclick="st.choosePref('togglePref', 'labels')">
            </span>
        </div>
        <div class="hr-left"></div>
        <div class="desc">
            Labels in the drop–down menu can clutter the screen on low–resolution devices.
        </div>
    </div>

    <div id="pref-sound" class="view pref">
        <div>
            <span class="title">Sound Effects</span>
            <span class="option multi" role="button"
                  onclick="st.vibrate();
                           st.Prefs.sound || st.Sounds.click.play();
                           st.togglePref('sound', true)">
            </span>
        </div>
        <div class="hr-left"></div>
        <div class="desc">
            On some devices this overrides the system mute setting.
        </div>
    </div>

    <div id="pref-sync" class="view pref">
        <div>
            <span class="title">
                Sync <span class="short">Data</span>
                <span class="long">With Server</span>
                <span class="pref-sub">BETA</span>
            </span>
            <span class="option multi" role="button"
                  onclick="st.choosePref('checkSync')">
            </span>
        </div>
        <div class="hr-left"></div>
        <div class="desc">
            Synchronize bookmarks and purchases across devices and platforms.
        </div>
    </div>

    <div id="pref-messages-2" class="view pref">
        <div>
            <span class="title pointer"
                  onclick="st.choosePref('clearSeen')">
                Reset Messages …
            </span>
        </div>
        <div class="hr-left"></div>
        <div class="desc">
            Show all help messages again at the appropriate time.
        </div>
    </div>

    <div id="pref-legal" class="view pref">
        <div>
            <span class="title pointer"
                  onclick="st.choosePref('tryView', 'legal')">
                More Info …
            </span>
        </div>
        <div class="hr-left"></div>
        <div class="desc">
            About StoryTime and legal information.
        </div>
    </div>

</div>  <!-- End of column right -->


<script>

    $('#pointer').html(st.Env.hasTouch ? 'press' : 'click');
    
    // Load state of each preference from namespace
    $.each(st.Prefs, function (pref, state) {
        var $OPTION = $('#pref-' + pref + ' .option');
        state && $OPTION.addClass('chosen');
        $OPTION.html(st.prefState(state));
    });

    
    /**
     *  Manages response when user chooses a pref.
     */

    st.choosePref = function (funcName, arg) {
        st.debug('choosePref()');

        st.vibrate();
        funcName === 'tryView' || st.playSound('click');
        typeof st[funcName] === 'function' && st[funcName](arg, true);
    };


    /**
     *  Clears list of messages seen by user and deactivates pref-messages.
     */

    st.clearSeen = function () {
        st.debug('st.clearSeen()');

        var $PREF = $('#pref-messages-1, #pref-messages-2'),
            $DESC = $PREF.find('.desc');

        st.User.seen = [];
        st.storeData('User');
        
        $PREF.addClass('deactivated no-pointer');
        $DESC.css('color', '#fc6');

        setTimeout(function () {
            $DESC.html('Help messages will be shown again at the appropriate time.')
                .css('color', '#666');
        }, 90);
    };


    /**
     *  Resizes elements in the preferences view (if necessary).
     */
     
    st.resizeprefs = function () {
        st.debug('resizeprefs()');
    };
    
</script>
