<style scoped>

    .profile {
        opacity: 1;
        border-color: #a5f;
        background: #c9f;
        background: url(/images/bg-profile.png) repeat;
    }

    .profile .title {
        text-shadow: 0 0 1px #e5ccff;  /* #edf */
        cursor: pointer;
    }

    .profile .hr-left {
        background: -webkit-linear-gradient(to right, rgba(170, 85, 255, 1) 0,
            rgba(0, 0, 0, 0) 100%);
        background: linear-gradient(to right, rgba(170, 85, 255, 1) 0, rgba(0, 0, 0, 0) 100%);
    }

</style>


<div id="profile-basics" class="view profile">
    <div>
        <span class="title"
              onclick="st.showModal('name')">
            The Basics
        </span>
    </div>
    <div class="hr-left"></div>
    <div class="desc">
        What's your name, age and gender?
    </div>
</div>

<div id="profile-fav" class="view profile">
    <div>
        <span class="title"
              onclick="st.showModal('color')">
            Your Favorite Things
        </span>
    </div>
    <div class="hr-left"></div>
    <div class="desc">
        What's your favorite color, food and animal?
    </div>
</div>

<div id="profile-live" class="view profile">
    <div>
        <span class="title"
              onclick="st.showWorld()">
            Where You Live
        </span>
    </div>
    <div class="hr-left"></div>
    <div class="desc">
        What region and type of place do you live in?
    </div>
</div>


<script>

    /**
     *  Writes the 'basics' description in the Profile view.
     */

    st.profileBasics = function () {
        st.debug('profileBasics()');

        var template;

        if (st.Profile.name && st.Profile.age && st.Profile.gender) {
            template = 'Your name is ' + st.Profile.name + ' and you’re a ' + st.Profile.age + ' year old ' + st.Profile.gender + '.';

        } else if (st.Profile.name && st.Profile.age) {
            template = 'Your name is ' + st.Profile.name + ' and you’re ' + st.Profile.age + ' years old.';

        } else if (st.Profile.age && st.Profile.gender) {
            template = 'You are a ' + st.Profile.age + ' year old ' + st.Profile.gender + '.';

        } else if (st.Profile.name && st.Profile.gender) {
            template = 'Your name is ' + st.Profile.name + ' and you’re a ' + st.Profile.gender + '.';

        } else if (st.Profile.name) {
            template = 'Your name is ' + st.Profile.name + '.';

        } else if (st.Profile.age) {
            template = 'You are ' + st.Profile.age + ' years old.';

        } else if (st.Profile.gender) {
            template = 'You are a ' + st.Profile.gender + '.';
        }

        template && $('#profile-basics .desc').html(template);
    };


    /**
     *  Writes the 'fav' description in the Profile view.
     */

    st.profileFav = function () {
        st.debug('profileFav()');
        
        var BEGIN, COLOR;

        if (st.Profile.color || st.Profile.food || st.Profile.animal) {
            BEGIN = st.rndInt(0, 1);
            COLOR = st.rndInt(0, 1);
            
            $('#profile-fav .desc').html((BEGIN ? 'Picture this:' : 'Imagine') +
                    (COLOR && st.Profile.color === 'orange' ? ' an ' : ' a ') +
                    (st.Profile.color && COLOR ? st.Profile.color : 'big') +
                    ' ' + (st.Profile.animal || 'creature') +
                    (st.Profile.food ? ' eating ' +
                    (st.Profile.color && !COLOR ? st.Profile.color : '') +
                    ' ' + st.Profile.food + '.' : '.'));
        }
    };


    /**
     *  Writes the 'live' description in the Profile view.
     */

    st.profileLive = function () {
        st.debug('profileLive()');
        
        var comment,
            REGION = st.Profile.region,
            DENSITY = st.Profile.density,
            BUILDING = st.Profile.building;
        
        if (REGION || DENSITY || BUILDING) {
            if (DENSITY === 'rural' && BUILDING === 'apartment') {
                comment = 'How unusual!';

            } else {
                comment = st.rndInt(0, 1) ? 'Cool!' : 'That sounds nice!';
            }

            $('#profile-live .desc').html('You live in ' + (BUILDING ?
                    (BUILDING === 'apartment' ? 'an ' : 'a ') +
                    BUILDING + ' in ' : '') +
                    (DENSITY ? (DENSITY === 'rural' ?
                    (REGION ? 'rural ' + REGION : 'a rural area') : 'a ' +
                    DENSITY + ' in ') : '') + (DENSITY !== 'rural' ?
                    (REGION ? REGION : '') : '') + '. ' + comment);
        }
    };


    /**
     *  Resizes an image map to match a scaled image.
     *  Currently only used for the world map on profile-live.
     *  @param {string} map - id of image map to resize
     */

    st.resizeImageMap = function (map) {
        st.debug('resizeImageMap(' + map + ')');

        var $AREAS = $('#' + map + ' area'),
            $WORLD = $('#world'),
            WIDTH = $WORLD.width() / 1074,
            HEIGHT = $WORLD.height() / 570;
        
        function resizeArea(coords) {
            st.debug('resizeArea(' + coords + ')', 'function', true);
            
            var isWidth = false;
            
            $.each(coords, function (index, coord) {
                isWidth = !isWidth;
                coords[index] = parseInt(coord, 10) * (isWidth ? WIDTH : HEIGHT);
            });
            
            return coords;
        }
        
        st.debug('world: ' + WIDTH + ' x ' + HEIGHT, 'info', true);

        $AREAS.each(function () {
            var $AREA = $(this);
            $AREA.attr('coords', resizeArea($AREA.data('coords').split(',')));
        });
    };

    
    st.profileBasics();
    st.profileLive();
    st.profileFav();
    
    st.Modals.region || st.loadModal('region');

    //WEB_BEGIN
    st.Cache.head.append('<link class="prefetch" rel="prefetch" href="/images/world.png"><link class="prefetch" rel="prefetch" href="/images/food/burger.jpg"><link class="prefetch" rel="prefetch" href="/images/food/curry.jpg"><link class="prefetch" rel="prefetch" href="/images/food/fruit.jpg"><link class="prefetch" rel="prefetch" href="/images/food/ice-cream.jpg"><link class="prefetch" rel="prefetch" href="/images/food/nachos.jpg"><link class="prefetch" rel="prefetch" href="/images/food/noodles.jpg"><link class="prefetch" rel="prefetch" href="/images/food/salad.jpg"><link class="prefetch" rel="prefetch" href="/images/food/soup.jpg"><link class="prefetch" rel="prefetch" href="/images/animal/owl.svg"><link class="prefetch" rel="prefetch" href="/images/animal/cow.svg"><link class="prefetch" rel="prefetch" href="/images/animal/elephant.svg"><link class="prefetch" rel="prefetch" href="/images/animal/giraffe.svg"><link class="prefetch" rel="prefetch" href="/images/animal/goat.svg"><link class="prefetch" rel="prefetch" href="/images/animal/leopard.svg"><link class="prefetch" rel="prefetch" href="/images/animal/lion.svg"><link class="prefetch" rel="prefetch" href="/images/animal/monkey.svg"><link class="prefetch" rel="prefetch" href="/images/animal/panda.svg"><link class="prefetch" rel="prefetch" href="/images/animal/penguin.svg"><link class="prefetch" rel="prefetch" href="/images/animal/rhino.svg"><link class="prefetch" rel="prefetch" href="/images/animal/squirrel.svg">');
    //WEB_END
    
</script>
